.signaling-network {
  max-width: 100%;
  min-height: 100%;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.signaling-network__column {
  max-width: inherit;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.signaling-network__column .graph-wrapper {
  max-width: inherit !important;
}
