.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-header__title {
  font-size: 1rem;
  white-space: wrap;
  line-height: 1rem;
  flex-basis: 10%;
}

.page-header__statistics {
  display: flex;
  gap: 2rem;
}

.page-header__statistics .ant-statistic-title {
  margin-bottom: 0px;
  font-size: 12px;
}

.page-header__statistics .ant-statistic-content {
  font-size: 14px;
}

.page-sider a {
  color: var(--text-color);
}

.page-sider .ant-menu-item-divider {
  margin: 0px 1em;
}

.page-sider .ant-layout-sider-children {
  max-width: inherit;
}

.page-sider__menu {
  max-width: inherit;
  margin-top: 40vh;
  position: fixed;
  transform: translateY(-50%);
}
