.network-monitoring {
  max-width: 100%;
  min-height: 100%;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.network-monitoring .row {
  position: relative;
}

.network-monitoring .scroll-anchor {
  top: -3.5rem;
}
