@import "~antd/dist/antd.dark.css";

:root {
  --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --link-color: #1890ff;
  --success-color: #52c41a;
  --warning-color: #faad14;
  --error-color: #f5222d;
  --primary--color: #1f1f1f;
  --secondary-color: #141414;
  --heading-color: rgba(255, 255, 255, 0.85);
  --text-color: rgba(255, 255, 255, 0.65);
  --text-color-secondary: rgba(255, 255, 255, 0.45);
  --disabled-color: rgba(255, 255, 255, 0.25);
  --border-radius-base: 2px;
}

html {
  scroll-behavior: smooth;
}

.row {
  min-width: 100%;
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.column {
  max-width: inherit;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.scroll-anchor {
  position: absolute;
}
